bootstrap/.terraform.lock.hcl
bootstrap/terraform.tfstate
bootstrap/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_amd64/LICENSE.txt
bootstrap/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_amd64/terraform-provider-aws_v5.100.0_x5.exe
terraform/.terraform.lock.hcl
terraform/lambda.zip
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/terraform.tfstate
terraform/.terraform/providers/registry.terraform.io/hashicorp/archive/2.8.0/windows_amd64/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/archive/2.8.0/windows_amd64/terraform-provider-archive_v2.8.0_x5.exe
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_amd64/LICENSE.txt
terraform/.terraform/*
venv/*
temp/*
terraform/eval/run_eval.py
terraform/__pycache__/handler.cpython-311.pyc
